.main {
    padding: 6em;
		padding-top: 2em;
    color: black;
}

tr.pure-u-1 {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #cbcbcb;
}

td.pure-u-sm-3-8 {
    overflow: auto;
}

.pure-table td {
    border-left-style: none;
    font-size: 14px;
}

@media (max-width: 62em) {
.main {
    padding: 0em;
    color: black;
}
}